### Extender info

extender.host=<host>
extender.port=<port>
extender.user=<user>
extender.pass=<pass>

# Uncomment to change the hash algorithm for calculating the
# HMAC value for extender requests.

#extender.hmac=sha2_256

### Aggregator info

aggregator.host=<host>
aggregator.port=<port>
aggregator.user=<user>
aggregator.pass=<pass>

# Uncomment to change the hash algorithm for calculating the
# HMAC value for aggregation requests.

#aggregator.hmac=sha2_256

### Pubfile info

pubfile.url=<scheme>://<user>:<pass>@<host>
pubfile.cnstr=1.2.840.113549.1.9.1=publications@guardtime.com


### Async timeout

# Defines the sleep timeout in milliseconds for avoiding busy loops
# while waiting for server responses.
# Uncomment to specify a value that meets your needs.
#async.timeout.sleep = 100

# Cululative sleep timeout in milliseconds for a test case.
# Uncomment to specify a value that meets your needs.
#async.timeout.cumulative = 5000
