### Extender info

extender.host=<host>
extender.port=<port>
extender.user=<user>
extender.pass=<pass>

# Uncomment to change the hash algorithm for calculating the
# HMAC value for extender requests.

#extender.hmac=sha2_256

### Aggregator info

aggregator.host=<host>
aggregator.port=<port>
aggregator.user=<user>
aggregator.pass=<pass>

# Uncomment to change the hash algorithm for calculating the
# HMAC value for aggregation requests.

#aggregator.hmac=sha2_256

### Pubfile info

publications_file_url=<scheme>://<user>:<pass>@<host>
publications_file_cnstr=1.2.840.113549.1.9.1=publications@guardtime.com
