*.o
.cproject
.project
GNUmakefile
GNUmakefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
results.xml
*.log
.deps
/Debug
*.gcno
*.exe
*.pdb
*.sln
*.suo
obj/
out/
kraam/
doc/html
doc/latex
nbproject/
vsproject/

src/ksi/.libs/
test/integrationtest.conf
